/* * {
    margin: 0px;
    padding: 0px;
} */


.sub-container {
    display: inline-block;
    border: 2px solid rebeccapurple;
}

.wrapper {
    width: 95%;
    margin: 0px auto;
    /* text-align: center; */
}